@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.brightness-140 {
  filter: brightness(1.4);
}

@font-face {
  font-family: "CamptonBold";
  src: url("../../public/fonts/Campton-Bold.otf");
}

@font-face {
  font-family: "CamptonThin";
  src: url("../../public/fonts/Campton-Thin.otf");
}

@font-face {
  font-family: "Campton";
  src: url("../../public/fonts/Campton-Medium.otf");
}

.all-Campton * {
  font-family: "Campton", sans-serif;
}
body{
  min-height: 100vh;
}

.ant-collapse-content-box {
  padding: 0;
 }