.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/***********************/
/***MODAL CUSTOM CSS****/
/***********************/
.modal-fullscreen {
  top: 0;
}

.modal-fullscreen .ant-modal-content {
  min-height: 100vh !important;
}

/***********************/
/***STEPPER CUSTOM CSS****/
/***********************/
.ant-steps-item {
  padding-top: 8px !important;
  width: 100%;
  margin-right: 24px;
  display: flex !important;
  padding-inline-start: 12px;
}

.ant-steps-item:first-child {
  padding-inline-start: 12px !important;
}

.ant-steps-item::after {
  display: none !important;
}

.ant-steps-item::before {
  top: 0 !important;
  height: 5px !important;
  width: 100% !important;
  background-color: #C5C7D7 !important;
  inset-inline-start: 0% !important;
  transition: none !important;
}

.ant-steps-item-active::before {
  top: 0 !important;
  height: 5px !important;
  background-color: #5819F1 !important;
  width: 100% !important;
  inset-inline-start: 0% !important;
  transition: none !important;
}

.ant-steps-item-title {
  display: flex !important;
  flex-direction: column-reverse !important;
  font-weight: 500 !important;
}

.ant-steps-item-subtitle {
  margin-inline-start: 0px !important;
  color: #6F729C !important;
  font-size: 14px;
  font-weight: 500;
}

.ant-steps-item-title {
  margin-inline-start: 0px !important;
  color: black !important;
  font-size: 16px;
}

.ant-steps-item-active .ant-steps-item-subtitle {
  color: #5819F1 !important;
}

.ant-steps-item-active .ant-steps-item-title {
  color: #5819F1 !important;
  font-weight: 600 !important;  
}

.ant-steps-item-icon {
  display: none !important;
}

.custom-otp input {
  width: -webkit-fill-available !important;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}





text.recharts-text.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}

li.recharts-legend-item {
  line-height: 35px;
}