.UserTable .user-table-pagination .page {
  font-weight: 600;
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  min-width: 32px;
  color: #6f729c;
  cursor: pointer;
}

.UserTable .user-table-pagination .page:hover {
  background-color: #ede7fd;
  border-radius: 8px;
  color: #5819f1;
  cursor: pointer;
  font-size: 14px;
}

.right-arrow {
  transform: rotate(180deg);
}

.left-arrow:hover,
.right-arrow:hover {
  filter: brightness(0) saturate(100%) invert(11%) sepia(99%) saturate(6140%)
    hue-rotate(262deg) brightness(93%) contrast(104%);
  cursor: pointer;
}

.ant-table-thead .ant-table-cell {
  background-color: #F5F6FA !important;
}

/* .ant-pagination-item-active a{
  font-weight: 600;
  font-size: 12px;
  color: #6f729c;
  cursor: pointer;
  border:none;
}
.ant-pagination-item-active{
  border:none;
}
.ant-pagination-item-active a:hover{
  background-color: #ede7fd;
  border-radius: 8px;
  color: #5819f1;
  cursor: pointer;
  font-size: 14px;
} */
